<h1>trips#index</h1>
<p>Find me in app/views/trips/index.html.erb</p>

<% @trips.each do |trip| %>
<p>tripname - <%= trip.description %></p>
<p>trip id - <%= trip.id %></p>
<%= link_to trip.description, trip_path(trip) %>
<%= link_to 'Destroy',  trip_path(trip),  method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
