<h1>Flats#show</h1>
<p>Find me in app/views/flats/show.html.erb</p>

<%= @flat.name %>

<% if policy(@flat).update? %>
  <%= link_to "Edit", edit_flat_path(@flat) %>
<% end %>
<% if policy(flat).destroy? %>
  <p><%= link_to 'Destroy',  flat_path(flat),  method: :delete, data: { confirm: 'Are you sure?' } %></p>
<% end %>
<%= link_to "New trip", new_flat_trip_path(@flat) %>
