<div class="navbar-wagon">
  <!-- Logo -->
  <!-- Right Navigation -->
  <div class="navbar-wagon-left">
    <%= link_to "Trips", trips_path, class: "navbar-wagon-item navbar-wagon-link" %>
    <%= link_to "Add a flat", new_flat_path, class: "navbar-wagon-item navbar-wagon-link" %>
  </div>
</div>

