<div class="footer-wagon">
  <div class="footer-wagon-left">
    <%= link_to "Trips", trips_path, class: "footer-wagon-item footer-wagon-link" %>
    <%= link_to "Add a flat", new_flat_path, class: "footer-wagon-item footer-wagon-link" %>
  </div>
</div>

